html {
    scroll-behavior: smooth
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.75
}

#to-top {
    opacity: .7;
    display: none;
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 99;
    border: none;
    background: #414A59;
    color: #F5F6F7;
    cursor: pointer;
    padding: 12px;
    border-radius: 6px;
    font-size: 14px
}

#to-top:hover {
    opacity: 1
}

#navbar {
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 9999;
    background-color: #303642
}

.header-name,
.nav-links {
    color: white;
    white-space: nowrap;
    width: 15%;
    padding: 16px 30px;
    text-decoration: none;
    font-size: 1.2em;
    display: inline-block
}

.nav-links:hover {
    color: gold;
    text-shadow: 0 0 12px gold;
    transition: color 1.5s
}

.header-name {
    letter-spacing: 3px;
    margin-top: 0;
    font-size: 2em;
    line-height: 1px
}

span.middle {
    color: gray
}

span.last {
    color: gold
}

.icon {
    display: none
}

#banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../static/img/0_shroommates/kitchen_room.png) center center no-repeat fixed;
    background-size: cover;
    text-align: center
}

.intro {
    letter-spacing: 1px;
    margin-bottom: .25em;
    line-height: 1.25;
    font-size: 3em;
    color: gold;
    animation: fadein 4s;
    text-shadow: 0 0 18px #000
}

.pitch {
    width: 500px;
    margin: 0 auto;
    color: #F5F6F7;
    animation: fadein2 4s;
    text-shadow: 0 0 12px #000
}

.anchor {
    position: relative;
    top: -61px
}

.section-title {
    padding: 1em 3em;
    text-align: center;
    background-color: #303642
}

.section-title h2 {
    margin: 0;
    padding-top: 4px;
    font-size: 2em;
    color: gold;
    text-shadow: 0 0 48px rgba(249, 158, 26, .5)
}

.section {
    width: 1000px;
    margin-left: auto;
    margin-right: auto
}

.me {
    padding-top: 30px;
    width: 40%
}

.footer {
    padding: 48px 12px;
    background-color: #303642;
    text-align: center
}

.footer p {
    margin-top: 20px;
    margin-bottom: 0
}

.otherLinks {
    margin: 2%;
    color: #5294E2;
    text-decoration: none
}

.font {
    font-size: 24px
}

.small-link {
    color: #5294E2;
    text-decoration: none
}

.small-link:hover {
    text-decoration: underline
}

.link-card {
    text-decoration: none;
    color: #000
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadein2 {
    0%,
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@media screen and (max-width:1280px) {
    .pitch {
        width: auto;
        margin: 0 16px
    }
}

@media screen and (max-width:1280px) {
    .header-name,
    .nav-links {
        display: none
    }
    a.icon {
        float: right;
        display: block
    }
    .nav-links {
        width: auto
    }
    #navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0
    }
    #navbar.responsive a {
        display: block;
        text-align: left
    }
}

@media screen and (max-width:1280px) {
    .anchor {
        top: -50px
    }
    .section {
        width: auto;
        padding: .5em;
        margin: 0
    }
    .section-grid {
        /*grid-template-columns: repeat(auto-fit, 100%)*/
    }
    .section-title {
        padding: 0
    }
}